td{
    height: 20px;
}
button{
    width:20px;
    margin:2px;
    border-radius: 5px;
    
    
}
table{
    background-color: darkolivegreen;
    
}
#pantalla{
    background-color: white;
    margin: 2px;
    
}