body {
    background-color: aliceblue;
    font-size: 30px;
    text-align: center;
    text-indent: inherit
}
a {
    text-decoration: none;
    color: greenyellow;
     text-align: center center;    text-indent: inherit;
        font-family: Akaya Kanadaka
}
a:hover {
    font-style: italic;
        color: yellow;
}